.home-page {
    width: 100%;

    &__svg-icons {
        margin-top: 20px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 20vh;
    }

    &__btn-block {
        margin-top: 5px;
        width: 132px;
        margin-left: auto;
    }

    &__city-name {
        margin-top: 20px;
    }

    &__wather-content {}
}