
.content-header {
  min-height: 84px;
  display: grid;
  grid-template-columns: 1fr auto;
  justify-content: space-between;
  grid-gap: 8px;
  align-items: center;
}


.color-text {
  color: white;
}

.logo-title {
  display: flex;
  gap: 8px;
  color: white;
}

.logo {
  width: 52px;
}

.nav-link {
  color: white !important;
}


.block-btn {
  display: flex;
  gap: 8px;
}


@media (max-width: 480px) {
  .content-header {
    grid-template-columns: auto;
    padding: 8px !important;
  }
}
