
.block-item {
  position: relative;
}


.sun {
  width: 100%;
  height: 100%;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  animation-name: rotate;
  animation-duration: 16000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}


.sun path {
  stroke-width: 0.18;
  animation: anime-sun infinite 2s linear;
}

@keyframes anime-sun {
  0% {
    fill: yellow;
  }
  33% {
    fill: rgb(236, 219, 69);
  }
  66% {
    fill: rgb(241, 214, 94);
  }

  100% {
    fill: yellow;
  }
}


@keyframes rotate {
  0% {
    transform: rotateZ(0deg);
  }

  100% {
    transform: rotateZ(360deg);
  }
}
  
