.weather-home {
    margin-top: 25px;
    // height: 280px;
    // height: 41vh;
    border-radius: 10px;
    background-color: rgba(17, 73, 66, 0.5);
    box-shadow: 0px 0px 8px 0px black;


    transform: scale(0);
    animation-name: show-weather;
    animation-duration: 1s;
    animation-delay: 2s;
    animation-fill-mode: forwards;


    &__content {

        padding: 20px;
    }

    &__description {
        display: flex;
        justify-content: space-around;
    }

    &__weather_text {
        font-size: 24px;
        color: white;
    }

    &__name-api-weather {
        font-size: 24px;
        color: white;
    }


    &__temperature {
        font-size: 74px;
        color: white;
        margin-top: 50px;
        margin-bottom: 10px;
    }

    &__temperature-felt {
        font-size: 22px;
    }

    &__text {
        padding: 5px;
        width: 400px;
        margin-top: 30px;
        font-size: 32px;
        text-align: center;
        color: white;
    }

    &__info {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__info-time {
        font-size: 30px;
        color: white;
    }

    &__alert {
        color: red;
        font-size: 32px;
        text-align: center;
    }
}

@keyframes show-weather {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}