@import "~bootstrap/scss/bootstrap";

#root {
  height: 100%;
}

html, body {
  height: 100%;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


.app {
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100%;
}

.background {
  background: linear-gradient(180deg, #0462AC 0%, rgba(73, 147, 193, 0.59375) 52.6%, rgba(162, 230, 251, 0) 100%);
}

.content-center {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 16px;
  width: 100%;
}
